openapi: 3.0.0
info:
  title: Common API (v1)
  description: |
    공통(운동 종류, 지역 정보, 약관 등) API  
    
    #### Revision History

    | Date | Description |
    |--------|--------------------------------|
    | 2025.02.04 | 최초 등록 |
    | 2025.02.18 | 지역 정보 API 추가, Common API로 이름 변경 |
    | 2025.03.04 | 약관 API 추가 |
  version: 0.0.3
servers:
  - url: https://api.ourfit.life
paths:
  /v1/workout-types:
    get:
      summary: 운동 종류 목록 조회
      description: 등록된 운동 종류 목록 전체를 조회합니다.
      security:
        - bearerAuth: [ ]
      responses:
        200:
          $ref: "#/components/responses/WorkoutListResponse"
  /v1/regions:
    get:
      summary: 지역 목록 조회
      description: |
        입력한 검색어가 포함된 지역 목록을 조회할 수 있습니다.
        
        키워드는 한국어로 입력해야 하며, 2자 이상이어야 합니다.
        
        최대 50개의 결과를 반환합니다.
      parameters:
        - name: q
          in: query
          description: 검색어
          required: true
          schema:
            type: string
            example: "역삼"
        - name: X-Ourfit-Api-Key
          in: header
          description: API 인증 키
          required: true
          schema:
            type: string
            example: "1234"
      responses:
        200:
          $ref: "#/components/responses/RegionListResponse"
        400:
          description: |
            요청 본문이 올바른 형식이 아님
            
            아래와 같은 경우에 발생할 수 있습니다:
              - 검색어가 없거나, 공백 문자만 포함됨
              - 검색어에 한국어 이외의 문자(영어, 숫자, 특수문자 등)가 포함됨
              - 검색어의 길이가 2자 미만임
        401:
          description: API 키가 잘못되었거나, 없음
  /v1/terms:
    get:
      summary: 약관 목록 조회
      description: 등록된 약관 목록 전체를 조회합니다.
      security:
        - bearerAuth: [ ]
      responses:
        200:
          $ref: "#/components/responses/TermsListResponse"
  /v1/terms/{type}:
    get:
      summary: 약관 상세 조회
      description: 등록된 약관의 내용(전체 본문 포함)을 조회합니다.
      security:
        - bearerAuth: [ ]
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [ "TERMS_OF_SERVICE", "PRIVACY_POLICY", "OVER_14_POLICY", "MARKETING_POLICY", "MARKETING_KAKAO_POLICY" ]
          description: 조회 할 약관의 타입
      responses:
        200:
          $ref: "#/components/schemas/TermsResponse"
        400:
          description: |
            요청 본문이 올바른 형식이 아님

            아래와 같은 경우에 발생할 수 있습니다:
            - `type`이 ENUM에 정의되지 않은 값임
        404:
          description: 약관 정보 없음
  /v1/terms/{type}/revisions:
    get:
      summary: 약관 개정이력 조회
      description: 등록된 약관의 개정 이력을 조회합니다.
      security:
        - bearerAuth: [ ]
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [ "TERMS_OF_SERVICE", "PRIVACY_POLICY", "OVER_14_POLICY", "MARKETING_POLICY", "MARKETING_KAKAO_POLICY" ]
          description: 조회 할 약관의 타입
      responses:
        200:
          $ref: "#/components/schemas/TermsRevisionHistoryResponse"
        400:
          description: |
            요청 본문이 올바른 형식이 아님

            아래와 같은 경우에 발생할 수 있습니다:
            - `type`이 ENUM에 정의되지 않은 값임
  /v1/terms/{type}/revisions/{version}:
    get:
      summary: 특정 버전의 약관 조회
      description: 지정한 버전의 약관 내용(전체 본문 포함)을 조회합니다.
      security:
        - bearerAuth: [ ]
      parameters:
        - name: type
          in: path
          required: true
          schema:
            type: string
            enum: [ "TERMS_OF_SERVICE", "PRIVACY_POLICY", "OVER_14_POLICY", "MARKETING_POLICY", "MARKETING_KAKAO_POLICY" ]
          description: 조회 할 약관의 타입
        - name: version
          in: path
          required: true
          schema:
            type: number
          example: 1.2
          description: 조회 할 약관의 버전
      responses:
        200:
          $ref: "#/components/schemas/TermsResponse"
        400:
          description: |
            요청 본문이 올바른 형식이 아님

            아래와 같은 경우에 발생할 수 있습니다:
            - `type`이 ENUM에 정의되지 않은 값임
        404:
          description: 해당하는 약관 정보 없음
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    WorkoutListResponse:
      description: 운동 종류 목록 조회 응답
      content:
        application/json:
          schema:
            allOf:
              - $ref: "schemas.yaml#/components/schemas/BaseResponse"
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/WorkoutResponse"
    RegionListResponse:
      description: 지역 목록 조회 응답
      content:
        application/json:
          schema:
            allOf:
              - $ref: "schemas.yaml#/components/schemas/BaseResponse"
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/RegionResponse"
    TermsResponse:
      description: 약관 상세 조회 응답
      content:
        application/json:
          schema:
            allOf:
              - $ref: "schemas.yaml#/components/schemas/BaseResponse"
              - type: object
                properties:
                  data:
                    $ref: "#/components/schemas/TermsListResponse"
    TermsListResponse:
      description: 약관 목록 조회 응답
      content:
        application/json:
          schema:
            allOf:
              - $ref: "schemas.yaml#/components/schemas/BaseResponse"
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/TermsListResponse"
    TermsRevisionHistoryResponse:
      description: 약관 개정이력 목록 조회 응답
      content:
        application/json:
          schema:
            allOf:
              - $ref: "schemas.yaml#/components/schemas/BaseResponse"
              - type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/TermsRevisionHistoryResponse"
  schemas:
    WorkoutResponse:
      type: object
      properties:
        code:
          type: string
          example: "PILATES"
          description: 운동 코드
        name:
          type: string
          example: "필라테스"
          description: 운동 이름
    RegionResponse:
      type: object
      properties:
        fullName:
          type: string
          example: "서울특별시 강남구 역삼동"
          description: 지역 전체 이름
        region1:
          type: string
          example: "서울특별시"
          description: 시/도
        region2:
          type: string
          example: "강남구"
          description: 시/군/구
        region3:
          type: string
          example: "역삼동"
          description: 읍/면/동(법정동)
    TermsResponse:
      description: 약관 정보 조회 성공
      type: object
      properties:
        id:
          type: number
          example: 2
          description: 약관 ID
        isRequired:
          type: boolean
          example: true
          description: 필수 동의 여부
        type:
          type: string
          enum: [ "TERMS_OF_SERVICE", "PRIVACY_POLICY", "OVER_14_POLICY", "MARKETING_POLICY", "MARKETING_KAKAO_POLICY" ]
          example: "TERMS_OF_SERVICE"
          description: 타입
        title:
          type: string
          example: "서비스 이용약관"
          description: 제목
        content:
          type: string
          example: "<h1>아워핏 서비스 이용약관</h1><p><br></p><p>본 약관은 Team Ourfit(이하 \"회사\")이 제공하는 아워핏"
          description: 내용
        version:
          type: number
          example: 1.0
          description: 버전
        createdAt:
          type: string
          format: datetime
          example: "2025-03-04T22:21:23"
          description: 등록 일시
    TermsListResponse:
      type: object
      properties:
        id:
          type: number
          example: 2
          description: 약관 ID
        isRequired:
          type: boolean
          example: true
          description: 필수 동의 여부
        type:
          type: string
          enum: [ "TERMS_OF_SERVICE", "PRIVACY_POLICY", "OVER_14_POLICY", "MARKETING_POLICY", "MARKETING_KAKAO_POLICY" ]
          example: "TERMS_OF_SERVICE"
          description: 타입
        title:
          type: string
          example: "서비스 이용약관"
          description: 제목
        version:
          type: number
          example: 1.0
          description: 버전
        createdAt:
          type: string
          format: datetime
          example: "2025-03-04T22:21:23"
          description: 등록 일시
    TermsRevisionHistoryResponse:
      description: 약관 개정이력 조회 성공
      type: object
      properties:
        version:
          type: number
          example: 1.0
          description: 버전
        revisionNote:
          type: string
          example: "신규 서비스 도입에 따른 이용약관 개정"
          description: 개정 사유
        createdAt:
          type: string
          format: datetime
          example: "2025-03-04T22:21:23"
          description: 등록 일시
