openapi: 3.0.0
info:
  title: User API
  description: 사용자 정보 관리 API
  version: 0.0.1
servers:
  - url: https://api.ourfit.life
paths:
  /v1/users:
    post:
      summary: 사용자 회원가입 API
      requestBody:
        $ref: "#/components/requestBodies/UserSignUpRequest"
      responses:
        201:
          $ref: "v1_auth.yaml#/components/responses/OurfitToken"
        400:
          description: |
            요청 본문이 올바른 형식이 아님
            
            아래와 같은 경우에 발생할 수 있습니다:
              - 필수 값이 누락되었거나, ENUM에 정의되지 않은 값이 포함됨
              - 나이(`age`)가 15세 미만 또는 70세 초과임
              - 지역 정보(`region1`, `region2`, `region3`)가 올바르지 않음
              - 선호하는 운동 종목(`favoriteWorkouts`) 규칙 위반 (1개 이상, 3개 이하)
        409:
          description: |
            이미 등록된 사용자가 존재함
            
            아래와 같은 경우에 발생할 수 있습니다:
              - OAuth ID가 이미 사용 중인 경우
              - 닉네임이 이미 사용 중인 경우
  /v1/users/mates:
    get:
      summary: 메이트 탐색 API
      description: |
        메이트 매칭을 위한 필터링이 적용된 사용자 목록을 조회합니다.
        
        ** 검색 조건 (항상 적용됨) **
        - 나와 같은 동네(지역3, 동/읍/면)에 사는 사용자
        - 현재 메이트가 없는 사용자
      security:
        - bearerAuth: [ ]
      parameters:
        - name: peferredTimes
          in: query
          required: false
          schema:
            type: array
            items:
              enum: [ "WEEKDAY_MORNING", "WEEKDAY_AFTERNOON", "WEEKDAY_EVENING", "WEEKEND_MORNING", "WEEKEND_AFTERNOON", "WEEKEND_EVENING" ]
            description: "선호하는 시간대"
        - name: workoutTypes
          in: query
          required: false
          schema:
            type: array
            items:
              enum: [ "GYM", "PILATES", "SWIMMING", "DANCE", "SQUASH", "BOXING", "GOLF", "TENNIS", "YOGA", "CROSSFIT" ]
            description: "운동 종목 (GET v1/workout-types 로 확인 가능)"
        - name: page
          in: query
          description: "페이지 번호(1부터 시작) / 기본값: 1"
          required: false
          schema:
            type: integer
            example: 1
        - name: size
          in: query
          description: "페이지 크기 / 기본값: 10"
          required: false
          schema:
            type: integer
            example: 10
      responses:
        200:
          $ref: "#/components/responses/PagedUserInfoResponse"
  /v1/users/{id}:
    get:
      summary: 사용자 상세 조회 API
      security:
        - bearerAuth: [ ]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            example: 1
            description: "사용자 ID"
      responses:
        200:
          $ref: "#/components/responses/DetailedUserInfoResponse"
        404:
          description: "사용자 정보 없음"
  /v1/users/me:
    get:
      summary: 내 정보 조회 API
      security:
        - bearerAuth: [ ]
      responses:
        200:
          $ref: "#/components/responses/DetailedUserInfoResponse"
    delete:
      summary: 회원 탈퇴 API
      security:
        - bearerAuth: [ ]
      responses:
        204:
          description: "회원 탈퇴 성공"
        404:
          description: "사용자 정보 없음"
  /v1/users/me/basic-info:
    patch:
      summary: 내 기본 정보 수정 API
      description: |
        사용자의 기본 정보를 수정할 수 있습니다.
        요청 본문에는 변경하려는 필드만 포함하면 되며, 기존 값을 유지하려는 필드는 제외할 수 있습니다.
          - 수정 가능한 필드: 닉네임, 나이, 지역, 운동 실력
      security:
        - bearerAuth: [ ]
      requestBody:
        $ref: "#/components/requestBodies/UserBasicInfoUpdateRequest"
      responses:
        200:
          description: "사용자 기본 정보 수정 성공"
        400:
          description: |
            요청 본문이 올바른 형식이 아님
            
            아래와 같은 경우에 발생할 수 있습니다:
              - 변경 요청된 값 중에 ENUM에 정의되지 않은 값이 포함됨
              - 나이(`age`)가 15세 미만 또는 70세 초과임
        409:
          description: |
            리소스가 완전히 동일하거나, 요청을 처리할 수 없는 상태임
            
            아래와 같은 경우에 발생할 수 있습니다:
              - 어떤 필드도 변경 요청하지 않은 경우
              - 변경 요청된 닉네임이 이미 사용 중인 경우
              - 닉네임 변경 후 30일이 지나지 않은 경우
  /v1/users/me/profile:
    put:
      summary: 내 프로필 설정 API
      description: |
        사용자의 프로필 정보를 설정할 수 있습니다.
        
        기존 데이터를 새로운 데이터로 대체합니다. 
        요청 시 모든 필드를 전달해야 합니다.
        삭제를 원하는 필드는 `null` 값을 전달해야 합니다.
        
        - 수정 가능한 필드: 자기소개, 오픈 채팅 URL
      security:
        - bearerAuth: [ ]
      requestBody:
        $ref: "#/components/requestBodies/UserProfileUpdateRequest"
      responses:
        200:
          description: "사용자 프로필 수정 성공"
        400:
          description: |
            요청 본문이 올바른 형식이 아님
            
            아래와 같은 경우에 발생할 수 있습니다:
            - 오픈 채팅 URL(`openChatUrl`) 형식이 올바르지 않음
  /v1/users/me/profile-image:
    put:
      summary: 내 프로필 이미지 설정 API
      description: |
        사용자의 프로필 이미지를 설정할 수 있습니다.
        
        **1분에 한 번**만 업로드 가능하며, 기존 이미지는 새로운 이미지로 대체됩니다.
        - 지원하는 확장자: .jpg, .jpeg, .png, .heic, .webp
      security:
        - bearerAuth: [ ]
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - profileImage
              properties:
                profileImage:
                  type: string
                  format: binary
                  description: "프로필 이미지 파일"
      responses:
        200:
          description: "사용자 프로필 이미지 수정 성공"
        429:
          headers:
            Retry-After:
              schema:
                type: integer
                format: int32
                minimum: 1
              description: "요청을 다시 시도하기까지 남은 대기 시간(초)"
          description: |
            너무 많은 요청을 보냈음
  /v1/users/me/workout-preferences:
    put:
      summary: 내 운동 선호 정보 수정 API
      description: |
        사용자의 운동 선호 정보를 수정할 수 있습니다.
        
        기존 데이터를 새로운 데이터로 대체합니다. 
        요청 시 모든 필드를 전달해야 합니다.
        삭제를 원하는 필드는 `null` 값을 전달해야 합니다. (`preferredWorkoutTime`은 삭제 불가)
        
        - 수정 가능한 필드: 선호하는 운동 시간대(`preferredWorkoutTime`), 선호하는 운동 종목(`favoriteWorkouts`), 선호하는 운동 시설(장소)(`favoritePlaces`)
      security:
        - bearerAuth: [ ]
      requestBody:
        $ref: "#/components/requestBodies/UserWorkoutPreferencesUpdateRequest"
      responses:
        200:
          description: "사용자 운동 선호 정보 수정 성공"
  /v1/users/check-availability:
    get:
      summary: 사용자 정보 중복 확인 API
      description: |
        사용자 정보 중 특정 필드(닉네임, 이메일, OAuth ID 등)의 중복 여부를 확인할 수 있습니다.
        - 확인 가능한 필드: 닉네임
      parameters:
        - name: field
          in: query
          required: true
          schema:
            type: string
            enum: [ "nickname" ]
            example: "nickname"
            description: "중복 여부를 확인 할 필드"
        - name: value
          in: query
          required: true
          schema:
            type: string
            example: "수영장영수"
            description: "중복 여부를 확인 할 값"
      responses:
        204:
          description: "사용 가능한 값 (중복되지 않음)"
        400:
          description: "잘못된 형식의 값 (유효성 검사 실패)"
        409:
          description: "형식은 유효하지만, 이미 사용 중인 값 (중복됨)"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  requestBodies:
    UserSignUpRequest:
      description: "회원가입 요청"
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - oAuthId
              - provider
              - nickname
              - region1
              - region2
              - region3
              - gender
              - age
              - skillLevel
              - preferredWorkoutTime
              - favoriteWorkouts
            properties:
              oAuthId:
                type: string
                example: "57291628"
                description: "OAuth2 ID"
              provider:
                type: string
                enum: [ "KAKAO" ]
                description: "OAuth2 제공자"
              nickname:
                type: string
                example: "닉네임입니다"
                description: "닉네임"
              region1:
                type: string
                example: "서울특별시"
                description: "지역(시/도)"
              region2:
                type: string
                example: "송파구"
                description: "지역(시/군/구)"
              region3:
                type: string
                example: "잠실동"
                description: "지역(읍/면/동)"
              gender:
                type: string
                enum: [ 'F', 'M' ]
                description: "성별"
              age:
                type: integer
                example: 20
                description: "나이"
                minimum: 15
                maximum: 70
              skillLevel:
                type: string
                enum: [ 'BEGINNER', 'INTERMEDIATE', 'ADVANCED' ]
                description: "운동 실력"
              preferredWorkoutTime:
                type: string
                enum: [ "WEEKDAY_MORNING", "WEEKDAY_AFTERNOON", "WEEKDAY_EVENING", "WEEKEND_MORNING", "WEEKEND_AFTERNOON", "WEEKEND_EVENING" ]
                description: "선호하는 시간대"
              favoriteWorkouts:
                type: array
                items:
                  type: string
                  enum: [ "GYM", "PILATES", "SWIMMING", "DANCE", "SQUASH", "BOXING", "GOLF", "TENNIS", "YOGA", "CROSSFIT" ]
                  description: "운동 종목 코드"
                description: "선호하는 운동 종목"
    UserBasicInfoUpdateRequest:
      description: "사용자 기본 정보 수정 요청"
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              nickname:
                type: string
                example: "닉네임입니다"
                description: "변경할 닉네임"
              age:
                type: integer
                example: 20
                description: "변경할 나이"
                minimum: 15
                maximum: 70
              region1:
                type: string
                example: "서울특별시"
                description: "변경할 지역(시/도)"
              region2:
                type: string
                example: "송파구"
                description: "변경할 지역(시/군/구)"
              region3:
                type: string
                example: "잠실동"
                description: "변경할 지역(읍/면/동)"
              skillLevel:
                type: string
                enum: [ 'BEGINNER', 'INTERMEDIATE', 'ADVANCED' ]
                description: "변경할 운동 실력"
    UserProfileUpdateRequest:
      description: "사용자 프로필(자기소개, 오픈 채팅 URL) 등록/수정 요청"
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - introduction
              - openChatUrl
            properties:
              introduction:
                type: string
                example: "안녕하세요. 자기소개입니다."
                description: "변경할 자기소개"
              openChatUrl:
                type: string
                format: uri
                example: "https://open.kakao.com/o/gjgjgjgj"
                description: "변경할 오픈 채팅 URL"
    UserWorkoutPreferencesUpdateRequest:
      description: "사용자 운동 선호 정보(선호하는 운동 종목, 운동 시설) 등록/수정 요청"
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - preferredWorkoutTime
              - favoriteWorkouts
              - favoritePlaces
            properties:
              preferredWorkoutTime:
                type: string
                enum: [ 'WEEKDAY_MORNING', 'WEEKDAY_AFTERNOON', 'WEEKDAY_EVENING', 'WEEKEND_MORNING', 'WEEKEND_AFTERNOON', 'WEEKEND_EVENING' ]
                description: "변경할 선호하는 운동 시간대"
              favoriteWorkouts:
                type: array
                items:
                  type: string
                  enum: [ "GYM", "PILATES", "SWIMMING", "DANCE", "SQUASH", "BOXING", "GOLF", "TENNIS", "YOGA", "CROSSFIT" ]
                  description: "운동 종목 코드"
                description: "변경할 선호하는 운동 종목"
              favoritePlaces:
                type: array
                items:
                  type: object
                  properties:
                    placeName:
                      type: string
                      example: "에이블짐 잠실점"
                      description: "운동 시설 이름"
                    address:
                      type: string
                      example: "서울특별시 송파구 올림픽로35가길 11 지하1층 001호"
                      description: "운동 시설 주소"
                description: "변경할 선호하는 운동 시설"
  responses:
    PagedUserInfoResponse:
      description: "사용자 목록 조회 응답"
      content:
        application/json:
          schema:
            allOf:
              - $ref: "schemas.yaml#/components/schemas/PageResponse"
              - type: object
                properties:
                  data:
                    type: object
                    properties:
                      content:
                        type: array
                        items:
                          $ref: "#/components/schemas/BasicUserInfoResponse"
    DetailedUserInfoResponse:
      description: "사용자 상세 조회 응답"
      content:
        application/json:
          schema:
            allOf:
              - $ref: "schemas.yaml#/components/schemas/BaseResponse"
              - type: object
                properties:
                  data:
                    $ref: "#/components/schemas/DetailedUserInfoResponse"
  schemas:
    BasicUserInfoResponse:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: "사용자 ID"
          nullable: false
        profileUrl:
          type: string
          format: uri
          example: "https://example.com/profile.jpg"
          description: "프로필 이미지 URL"
          nullable: true
        nickname:
          type: string
          example: "닉네임입니다"
          description: "닉네임"
          nullable: false
        gender:
          type: string
          enum: [ 'F', 'M' ]
          description: "성별"
          nullable: false
        age:
          type: number
          example: 20
          description: "나이"
          nullable: false
        skillLevel:
          type: string
          enum: [ 'BEGINNER', 'INTERMEDIATE', 'ADVANCED' ]
          description: "운동 실력"
          nullable: false
        introduction:
          type: string
          example: "안녕하세요. 자기소개입니다."
          description: "소개"
          nullable: true
        preferredWorkoutTime:
          type: string
          enum: [ "WEEKDAY_MORNING", "WEEKDAY_AFTERNOON", "WEEKDAY_EVENING", "WEEKEND_MORNING", "WEEKEND_AFTERNOON", "WEEKEND_EVENING" ]
          description: "선호하는 시간대"
          nullable: false
        favoriteWorkouts:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                enum: [ "GYM", "PILATES", "SWIMMING", "DANCE", "SQUASH", "BOXING", "GOLF", "TENNIS", "YOGA", "CROSSFIT" ]
                description: "운동 종목 코드"
                nullable: false
              name:
                type: string
                enum: [ "헬스", "필라테스", "수영", "댄스", "스쿼시", "복싱", "골프", "테니스", "요가", "크로스핏" ]
                description: "운동 종목 이름"
                nullable: false
            description: "운동 종목 정보"
            nullable: false
          description: "선호하는 운동 종목"
          nullable: false
    DetailedUserInfoResponse:
      type: object
      properties:
        id:
          type: number
          example: 1
          description: "사용자 ID"
          nullable: false
        oAuthProvider:
          type: string
          enum: [ "KAKAO" ]
          description: "OAuth2 제공자"
          nullable: false
        profileUrl:
          type: string
          format: uri
          example: "https://example.com/profile.jpg"
          description: "프로필 이미지 URL"
          nullable: true
        email:
          type: string
          format: email
          example: "admin@ourfit.life"
          description: "이메일"
          nullable: false
        nickname:
          type: string
          example: "닉네임입니다"
          description: "닉네임"
          nullable: false
        gender:
          type: string
          enum: [ 'F', 'M' ]
          description: "성별"
          nullable: false
        age:
          type: number
          example: 20
          default: "나이"
          nullable: false
        region1:
          type: string
          example: "서울특별시"
          description: "지역(시/도)"
          nullable: false
        region2:
          type: string
          example: "송파구"
          description: "지역(시/군/구)"
          nullable: false
        region3:
          type: string
          example: "잠실동"
          description: "지역(읍/면/동)"
          nullable: false
        skillLevel:
          type: string
          enum: [ 'BEGINNER', 'INTERMEDIATE', 'ADVANCED' ]
          description: "운동 실력"
          nullable: false
        introduction:
          type: string
          example: "안녕하세요. 자기소개입니다."
          description: "소개"
          nullable: true
        openChatUrl:
          type: string
          format: uri
          example: "https://open.kakao.com/o/gjgjgjgj"
          description: "카카오 오픈 채팅 URL"
          nullable: true
        preferredWorkoutTime:
          type: string
          enum: [ "WEEKDAY_MORNING", "WEEKDAY_AFTERNOON", "WEEKDAY_EVENING", "WEEKEND_MORNING", "WEEKEND_AFTERNOON", "WEEKEND_EVENING" ]
          description: "선호하는 시간대"
          nullable: false
        favoriteWorkouts:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
                enum: [ "GYM", "PILATES", "SWIMMING", "DANCE", "SQUASH", "BOXING", "GOLF", "TENNIS", "YOGA", "CROSSFIT" ]
                description: "운동 종목 코드"
                nullable: false
              name:
                type: string
                enum: [ "헬스", "필라테스", "수영", "댄스", "스쿼시", "복싱", "골프", "테니스", "요가", "크로스핏" ]
                description: "운동 종목 이름"
                nullable: false
            description: "운동 종목 정보"
            nullable: false
          description: "선호하는 운동 종목"
          nullable: false
        favoritePlaces:
          type: array
          items:
            type: object
            properties:
              placeName:
                type: string
                example: "에이블짐 잠실점"
                description: "운동 시설 이름"
                nullable: false
              address:
                type: string
                example: "서울특별시 송파구 올림픽로35가길 11 지하1층 001호"
                description: "운동 시설 주소"
                nullable: false
            description: "운동 시설 정보"
            nullable: false
          description: "선호하는 운동 시설"
          nullable: false
        createdAt:
          type: string
          format: date-time
          example: "2025-02-01T15:33:30"
          description: "가입 일시"
          nullable: false
        nicknameUpdatedAt:
          type: string
          format: date-time
          example: "2025-02-05T12:21:30"
          description: "닉네임 수정 일시"
          nullable: true

